resource_group_name  = "clinicalscribe-tfstate-rg"
storage_account_name = "csbtfstateXXXXXXXX"
container_name       = "tfstate"
key                  = "prod/clinicalscribe.tfstate"
use_azuread_auth     = true
